{% extends "base.html" %}

{% load staticfiles %}

{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
    {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block container %}
{{ form.media }}
    <div style="padding-top: 5%;width: 80%;height: 50%; float: left;">
        <form method="post" action="" >
            {% csrf_token %}
            {{ form | crispy}}
            <input type="submit" value="Add Item">
        </form>
    </div>
{% endblock %}